.texto1 {
	color: black;
	font-size: 20px;
    text-align: center;
}
.texto {
	font-size: 20px;	
}
.formulas {
	font-size: 18px;	
}
body {
	background-color: skyblue;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	overflow: hidden;
	background-color: blue;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;	
	padding: 15px 18px;	
	text-decoration: none;	
}
li a:hover {
	background-color: #1831F2;
}

